@import url("https://use.typekit.net/gni0sjr.css");

@font-face {
  font-family: 'PanAm';
  font-display: swap;
  src: url('/fonts/PanAmTextCapsNew.ttf')  format('truetype')
}

$darkBlue: hsl(204, 65%, 24%);
$lightBlue: hsl(204, 65%, 29%);
$veryLightBlue: hsl(204, 65%, 32%);
$extremelyLightBlue: hsl(204, 65%, 34%);
$orange: hsl(29, 88%, 63%);
$mediumOrange: hsl(29, 88%, 69%);
$lightOrange: hsl(29, 88%, 88%);
$adaptiveWhite: rgba(255, 255, 255, 0.7);
$lightWhite: rgba(255, 255, 255, 0.4);
$white: rgba(255, 255, 255, 0.95);
$font: interstate;
$shadow: 5px 7px 30px hsla(204, 65%, 15%, 0.6);

html {
  background-color: $orange;
}

body {
  font-family: $font, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
}

a {
  transition: color 1s ease;
  color: $lightOrange;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

ul {
  margin: 0;
}

h5 {
  font-size: 1.1rem;
}



.icon-bar {
  background-color: $lightOrange;
  height: 4px;
  margin: 6px 0;
  transition: 0.4s;
}

::selection {
  background-color: $orange;
  color: $lightOrange;
}

// ::-webkit-scrollbar-track {
//   background-color: $darkBlue !important; 
// }

textarea, select, input, button { outline: none; }

input {
  background-color: $darkBlue !important;
  border: none;
  margin-right: 10px;
  color: $adaptiveWhite;
  width: 300px;
  // font-size: 1.25rem;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.95rem;
  }
}

.accordionPanel {
  transition: background-color 0.5s ease;
}

.accordionPanel.panelBlue:hover {
  background-color: $veryLightBlue !important;
}

.accordionPanel.panelLightBlue:hover {
  background-color: $extremelyLightBlue !important;
}

.accordionPanel.panelOrange:hover {
  background-color: $mediumOrange !important;
}


.react-datepicker {
  font-family: $font !important;
  background-color: $veryLightBlue !important;
  color: $adaptiveWhite !important;
  border: none !important;
  box-shadow: $shadow;
}

.react-datepicker__day,  .react-datepicker__day-name, .react-datepicker__current-month {
  color: $adaptiveWhite !important;
}

.react-datepicker__day:hover {
  background-color: $lightBlue !important;
}

.react-datepicker__day--selected {
  background-color: $darkBlue !important;
  border-radius: 0.3rem;
}

.react-datepicker__header {
  color: $adaptiveWhite !important;
  background-color: $darkBlue !important;
  border: none !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-bottom-color: $darkBlue !important;
}

.react-datepicker__navigation--next {
    border-left-color: $adaptiveWhite !important;
}

.react-datepicker__navigation--previous {
    border-right-color: $adaptiveWhite !important;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

::placeholder {
  color: $lightWhite;
}